.login{
  width: 560px;

  &__wrap{
    background-image: url(/images/login-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-field{
    position: relative;
    margin-bottom: 25px;
    font-weight: 500;
  }
  &__input{
    color: #144566;
    font-weight: 500;
    width: 100%;
    border: 1px solid #144566;
    padding: 10px 15px;

    &--error{
      border-color: #c0392b;
    }
  }
  &__input-error{
    color: #c0392b;
    position: absolute;
    left: 0;
    bottom: -1em;
    z-index: 1;
  }
  &__btn-submit{
    background-color: #3498db;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    border-radius: 4px;
    transition: background-color 0.15s;
    display: block;

    &:hover{
      background-color: rgb(49, 142, 204);
    }
  }
  &__btn-register{
    background: none;
    color: #000;
    font-weight: 500;
    margin: auto;
    margin-top: 30px;
    display: block;
  }
}