.login{
  width: 560px;
  border-radius: 6px;

  &__wrap{
    background-image: url(/images/login-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 25px 15px;
    border-radius: 6px 6px 0 0;
    background-color: rgb(20, 69, 102);
  }
  &__inner{
    padding: 30px;
    background-color: rgba(41, 128, 185, 0.3);
  }
  &__form-field{

  }
  &__input{
    width: 100%;
    border: none;
    margin-bottom: 25px;
    padding: 10px 15px;
  }
  &__btn-submit, &__btn-register{
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__btn-submit{
    background-color: #3498db;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    border-radius: 4px;
    transition: background-color 0.15s;

    &:hover{
      background-color: rgb(49, 142, 204);
    }
  }
  &__btn-register{
    background: none;
    color: #fff;
    margin: auto;
    margin-top: 30px;
  }
}