.navbar{
  background: linear-gradient(0, #28416F, #141E30);
  display: flex;
  padding: 0 15px;

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px 15px 0;
    cursor: pointer;
    transition: color 0.25s;

    &:hover{
      color: #51EAFF;
    }
    &--active{
      color: #51EAFF;
      border-bottom: 2px solid #51EAFF;
    }
  }
  &__item-icon{
    font-size: 18px;
  }
  &__item-text{
    font-size: 12px;
    margin: 5px 0;
  }
}