body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
// Remove Standart Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1{
  margin: 0;
}
// Reusable Components

.card{
  border-radius: 6px;

  &__title{
    font-size: 16px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    padding: 25px 15px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(0, #28416F, #141E30);
  }
  &__inner{
    padding: 30px;
    background: linear-gradient(0deg, #FFDED5, #C5F0F8);
    border-radius: 0 0 6px 6px;
  }
}

.btn{
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 4px;
  transition: background-color 0.15s;

  &--primary{
    background-color: #4A69FF;
    color: #fff;

    &:hover{
      background-color: #0351C1;
    }
  }
}
.btn-link{
  background: none;
  color: #000;
  font-weight: 500;
  transition: color 0.25s;

  &:hover{
    color: #0351C1;
  }
}

.input{
  color: #144566;
  font-weight: 500;
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #004156;

  &::placeholder{
    color: #144566;
  }
  &--error{
    border-color: #c0392b;
    color: #c0392b;

    &::placeholder{
      color: #c0392b;
    }
  }
}
.input-error-text{
  color: #c0392b;
  position: absolute;
  left: 0;
  bottom: calc(-1em - 3px);
  z-index: 1;
}